@model EntityLayer.Concrete.Blog


@{
    ViewData["Title"] = "BlogAdd";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>BlogAdd</h1>

@*<form asp-controller="controllername" asp-action="name" method="post"></form>*@


@using (Html.BeginForm("AddBlog", "Blog", FormMethod.Post))
{
    <div class="form">
        @Html.Label("Blog Başlığı")
        @Html.TextBoxFor(p => p.BlogTitle, new { @class = "form-control" })
        @*<input type="type"  asp-for="ctrl+space" value="" />*@
        <br />

        @Html.Label("Blog Başlığı")
        @Html.TextAreaFor(p => p.BlogContent, 20, 3, new { @class = "form-control" })


    </div>
    <button class="btn btn-primary">Ekle</button>
}

