@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>BlogListByWriter</h1>
<table class="table table-bordered">
    <tr>
        <th>Blog Başlık</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BlogTitle</td>
        </tr>
    }
</table>

