@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="tech-btm">
    <img src="~/CoreBlogDemo/images/banner1.jpg" class="img-fluid" alt="">
</div>
<div class="tech-btm">
    <h4>Sign up to our newsletter</h4>
    <p>Pellentesque dui, non felis. Maecenas male </p>
    <form action="#" method="post">
        <input type="email" placeholder="Email" required="">
        <input type="submit" value="Subscribe">
    </form>

</div>