@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using EntityLayer.Concrete
@model List<Blog>

<div class="tech-btm">
    <h4>Top stories of the week</h4>
    @foreach (var item in Model)
    {


        <div class="blog-grids row mb-3">
            <div class="col-md-5 blog-grid-left">
                <a href="single.html">
                    <img src="/CoreBlogDemo/images/1.jpg" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-7 blog-grid-right">

                <h5>
                    <a href="single.html">@item.BlogTitle </a>
                </h5>
                <div class="sub-meta">
                    <span>
                        <i class="far fa-clock"></i> 20 Jan, 2018
                    </span>
                </div>
            </div>

        </div>
    }

</div>