
@{
    ViewData["Title"] = "ListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Blog List Excel </h1>
<br />
<a href="/Admin/Category/ExportStaticExcelBlogList" class="btn btn-primary">Excel Listesini İndir</a>

