@using CoreDemo.Controllers
@model Class1
 
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form method="post">
    <label>Çalışanın Adı Soyadı</label>
    <input type="text" asp-for="@Model.Name" class="form-control" />
    <br />
    <button type="submit" class="btn btn-info">Yeni Çalışan Ekle</button>
</form>
