@using CoreDemo.Controllers
@model List<Class1>
 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>@item.ID</td>
        <td>@item.Name</td>
        <td><a href="/Product/DeleteProduct/@item.ID" class="btn-btn-outline-danger">Sil</a></td>
        <td><a href="/Product/EditProduct/@item.ID" class="btn-btn-outline-success">Güncelle</a></td>
    </tr>
            }
       
    </table>
