 @model EntityLayer.Concrete.AppUser

@{
    ViewData["Title"] = "EditProfile";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
@using (Html.BeginForm("EditProfile", "Writer", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Profili Düzenle</h4>
                @*<p class="card-description"> Basic form elements </p>*@
                <br />
                @Html.HiddenFor(p=>p.Id ,new {@class="form-control" })
                <form class="forms-sample">
                    <div class="form-group">
                        <label for="exampleInputName1">Ad Soyad</label>
                        @*<input type="text" class="form-control" id="exampleInputName1" name="NameSurname" placeholder="Name">*@
                        @Html.TextBoxFor(p => p.NameSurname, new { @class = "form-control" })

                    </div>
                    <div class="form-group">
                        <label for="exampleInputName2"> Kullanıcı Adı </label>
                        <input type="text" name="UserName" class="form-control" placeholder="Kullanıcı Adı" />

                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Email address</label>
                        @*<input type="email" class="form-control" id="exampleInputEmail3" name="Email" placeholder="Email">*@
                        @Html.TextBoxFor(p => p.Email, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">Password</label>
                        @*<input type="password" class="form-control" id="exampleInputPassword4" name="WriterPassword" placeholder="Password">*@
                        @Html.PasswordFor(p => p.PasswordHash, new { @class = "form-control" })
                    </div>
                  
                    <div class="form-group">
                        <label for="exampleInputCity1">Fotoğraf Yolu</label>
                        <input type="text" class="form-control" id="exampleInputCity1" name="WriterImage" placeholder="Location">
                    </div>
                  
                    <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>

}

