@using EntityLayer.Concrete
@model List<Writer>

@{
    ViewData["Title"] = "FotoGor";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Ad</th> 
       
       
        <th>Düzenle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.WriterName</td>
            <td> <img src="~/WriterImageFiles/@item.WriterImage"  /></td>
         
        </tr>
    }

</table>


