@using EntityLayer.Concrete
@model List<AppUser>



@{
    ViewData["Title"] = "UserRoleList";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>UserRoleList</h1>

@foreach (var item in Model)
{
    @item.NameSurname
}

